.checkout-container {
  background-color: #f8e3e3;
  margin: 20px auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.checkout-form {
  text-align: center;
}

.checkout-form h1 {
  margin-bottom:40px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #3498db; 
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
}

.submit-button {
  background-color: #86c06c; 
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #64a25e;
}

.order-success {
  color: #333;
  border-radius: 40px;
  padding: 60px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.order-success h1 {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  color: #c63d3d;
  margin-top: 0;
}

.order-success h2 {
  font-size: 36px;
  font-weight: bold;
  color: #8A2BE2;
  margin: 30px 0;
}

.order-success h3 {
  font-size: 30px;
  font-weight: bold;
  color: #167671;
  margin-bottom: 0;
  margin: 25px 0;
}